body {
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.container {
    padding: 50px 20px;
}

h1 {
    font-size: 45px;
    color: #ffd700;
    text-shadow: 0 0 15px #ffd700;
}

h2 {
    font-size: 32px;
    color: #ff4f9a;
}

#message {
    font-size: 24px;
    line-height: 1.8;
    color: white;
}

button {
    margin-top: 30px;
    padding: 20px 35px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background: white;
    color: black;
}

/* Birthday Wish */
#wish {
    margin-top: 30px;
    font-size: 25px;
    color: #ff69b4;
    font-weight: bold;
    line-height: 1.8;
}

/* Floating Hearts */
.floating-heart {
    position: fixed;
    bottom: -50px;
    font-size: 30px;
    animation: floatUp 6s linear infinite;
    pointer-events: none;
    z-index: 10;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }
}

/* Butterflies */
.butterfly {
    position: fixed;
    bottom: -50px;
    font-size: 30px;
    animation: butterflyFly 8s linear infinite;
    pointer-events: none;
    z-index: 10;
}

@keyframes butterflyFly {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: translate(100px, -25vh) rotate(20deg);
    }

    50% {
        transform: translate(-100px, -50vh) rotate(-20deg);
    }

    75% {
        transform: translate(100px, -75vh) rotate(20deg);
    }

    100% {
        transform: translate(-50px, -110vh) rotate(-20deg);
        opacity: 0;
    }
    }
